* { 
  box-sizing: border-box;
}

p {
	margin-left: 2em;
	margin-right: 2em;
	line-height: 1.8em;
}

video {
	margin: 0 auto 2em;
	display: block;
	width: 100%;
}

/*Media Queries*/

@media (min-width: 768px) {

	.wrapper {
		max-width: 800px;
		margin: 0 auto;
	}

	p {
		line-height: 2em;
		margin-right: 0;
		margin-left: 0;
	}
	video {
		width: 100%;
	}

}